/*Colors
Deeper Brown:D4A373
Lighter Brown:FAEDCD
Neutral:FEFAE0
Lighter Green:E9EDC9
Deeper Green:B1BB8F
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #FAEDCD;
    font-family: 'Poppins', sans-serif;
}

::placeholder {
    color: #B1BB8F;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;;
}

.container {
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    background-color: #FEFAE0;
    color: #D4A373;
    width: 70%;
    margin-top: 50px;
}

button {
    border:none;
    background-color:transparent;
    outline:none;
    cursor: pointer;
}

/*Header*/

.logo-icon {
    font-size: 300%;
    padding-left: 15px;
}

.logo {
    width: 30%;
    padding-left: 15px;
}

.logo h1 {
    margin-bottom: 0;
    font-size: 300%;
}

.logo p {
    margin-top: -10px;
    color: #b1bb8f;
    font-weight: 300;
    font-size: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: left;
}

.search {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

header input {
    width: 350px;
    padding: 15px;
    border-radius: 14px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    background-color: white;
    color: #D4A373;
}

header input:focus {
    outline: none;
}

header .links {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 20px;
}

header button {
    color: #D4A373;
    font-size: 200%;
    margin-left: 10px;
    padding-top: 5px;
}

.add-recipe,
.bookmarks {
    width: 200px;
}

.add-recipe button,
.bookmarks button {
    font-size: 100%;
    text-decoration: none;
    margin-right: 20px;
    color: #B1BB8F;
}

.add-recipe button span,
.bookmarks button span {
    margin-right: 10px;
    font-size: 125%;
}

.bookmarks {
    position: relative;
    display: inline-block;
}

.bookmarks-dropdown__content {
    margin-left: -80px;
    display: none;
    position: absolute;
    background-color: #E9EDC9;
    width: 300px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding-left: 0;
}

.bookmarks-dropdown__content li {
    display: block;
}

.bookmarks:hover .bookmarks-dropdown__content {display: block;}

.bookmarks-dropdown__content li:hover {
    background-color: #FEFAE0
}

/*Everything below the header*/

.contents {
    display: flex;
    margin: 25px 0;
    height: 1800px;
}

/*Recipe container*/

.recipe-img {
    margin-top: 30px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    height: 35%;
}

.recipe-img img {
    width:100%;
    height: auto;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 0 15px 30px 0;
}

.recipe-img {
    width: 100%;
}

.recipe-title {
    height: 8%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.recipe-title h1 {
    font-weight: 300;
    color: #D4A373;
}

.recipe-servings {
    height: 7%;
    background-color: #FAEDCD;
    display:flex;
    align-items: center;
    justify-content: center;
    padding:0 5%;
    width: 100%;
}

.recipe-servings button {
    color: #D4A373;
    padding: 0;
}

.recipe-servings p {
    margin-right: 35px;
    font-size:110%;
}

.recipe-servings p:nth-child(2) {
    margin-right: 15px;
}

.recipe-servings p:last-child {
    margin-right: 10px;
}

.recipe-servings span {
    font-size: 175%;
}

.recipe-icon {
    margin-right:10px;
    font-size: 120%;
}

.recipe-servings a {
    outline: none;
    color: #D4A373;
}

.recipe-ingredients {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    width: 100%;
}

.recipe-ingredients__row {
    display: flex;
    flex-direction: row;
    margin: 0 2%;
    width: 94%;
    font-size: 80%;
}

.recipe-ingredients__row:first-child {
    margin-top: 2%;
}

.recipe-ingredients__icon {
    margin-top: 2%;
}

.ingredient {
    width: 45%;
    margin-right: 5%;
}

.recipe-site {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #FAEDCD;
}

.recipe-site h3 {
    font-weight: 300;
    margin-bottom: 5px;
}

.recipe-site a,
.recipe-site p {
    text-decoration: none;
    outline: none;
    color: #B1BB8F;
    margin-top: 0;
}

/*Search container*/

.search-results {
    display: flex;
    flex-direction: column;
    margin: 30px 15px;
    width: 40%;
    background-color: #E9EDC9;
}

.search-results__list {
    padding-top: 20px;
    height: 92%;
    list-style-type: none;
    padding-left: 0;
}

.search-results__list li {
    padding-left: 0;
}

.search-results__list li:first-child {
    margin-top: 15px;
}

.search-results__list li a {
    width:100%;
    height:100%;
    overflow: hidden;
}

.result-active {
    background-color: #FEFAE0;
}

.result-container {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    outline: none;
    color: #D4A373;
    padding: 5px;
}

.result-image {
    margin-right: 5%;
    padding-left: 3px;
}

.result-image img {
    width: 75px;
    height: 75px;
    overflow:hidden;
    border-radius: 50%;
}

.result-title p {
    margin:0;
    font-size: 80%;
}

.result-title p:first-child {
    font-weight: 600;
}

.result-container div:last-child {
    margin-left: auto;
    margin-right: 10px;
}

.message, 
.error {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-icon {
    font-size: 150%;
}

.search-results__pagination {
    display: flex;
    justify-content: left;
    padding: 10px;
}

.search-results__pagination button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 125%;
    cursor: pointer;
    color: #D4A373;
}

.search-results__pagination--next {
    margin-left: auto;
}

/*Loader*/

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #B1BB8F;
  border-right: 1.1em solid #B1BB8F;
  border-bottom: 1.1em solid #B1BB8F;
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Recipe Uploader*/

.overlay {
    transition: opacity .2s ease-in;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: 1;
}

.upload-modal__container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.upload-modal {
    transition: opacity .2s ease-in;
    opacity: 1;
    height: auto;
    position: absolute;
    width: 70%;
    z-index: 10;
    border-radius: 5px;
    background-color: #FAEDCD;
    display: block;
}

.hidden {
    display: block;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.upload-form {
    display: flex;  
    flex-direction: column;
}

.upload-info {
    display: flex;
    flex-direction: row;
}

.upload-column {
    width: 40%;
    margin: 5%;
    display: flex;
    flex-direction: column;
}

.upload-form label {
    margin-bottom: 3px;
}

.upload-column input {
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

.upload-modal button {
    margin: 10px 0 0 5px;
}

.upload-form button,
.upload-modal button {
    margin-bottom: 20px;
    font-size: 100%;
    text-decoration: none;
    margin-right: 20px;
    color: #B1BB8F;
}

.upload-modal button span,
.upload-form button span {
    margin-right: 5px;
    font-size: 125%;
}




